@import '../../styles/utils/extends/helpers.scss';
@import '../../styles/utils/extends/typography.scss';

.article_page {
  position: relative;
  @extend %flex-column;

  min-height: 100vh;
  padding-bottom: 25px;

  @include onTablet {
    padding-bottom: 35px;
  }

  &__content {
    @extend %flex-column;

    margin: 0 auto;
    width: 100%;
    @extend %container;
  }

  &__image {
    position: fixed;
    z-index: -1;
    top: 0;

    width: 100%;
    height: 30vh;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;

    @extend %body-typography;
    font-weight: 700;
    color: inherit;
    text-decoration: none;

    &_icon {
      width: 12px;
      height: 10px;
    }
  }
}
