@import '../../styles/utils/extends/helpers.scss';
@import '../../styles/utils/extends/typography.scss';
@import '../../styles/utils/mixins/screens.scss';
@import '../../styles/utils/variables.scss';

.article_page {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 100%;
    @extend %container;
  }

  &__image {
    margin-bottom: auto;
    width: 100%;
    height: 30vh;
  }

  &__paper {
    position: absolute;
    top: 15vh;
    bottom: 15vh;
    left: 50%;

    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 10px 25px;
    @extend %container;

    transform: translateX(-50%);

    @include onTablet {
      padding: 50px 75px;
    }
  }

  &__title {
    margin-bottom: 20px;
    @extend %h2-typography;

    @include onTablet {
      margin-bottom: 50px;
    }
  }

  &__summary {
    @extend %body-typography;
    text-align: justify;

    @include onDesktop {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;

    margin-bottom: 7vh;

    @extend %body-typography;
    font-weight: 700;
    color: inherit;
    text-decoration: none;

    &_icon {
      width: 12px;
      height: 10px;
    }
  }
}
