@import '../../styles/utils/mixins/screens.scss';
@import '../../styles/utils/extends/helpers.scss';

.card_skeleton {
  @extend %flex-column;

  height: 430px;

  @include onDesktop {
    height: 530px;
  }

  &__content {
    flex-grow: 1;
    @extend %flex-column;

    padding: 24px;
  }

  &__image {
    height: 218px;
  }

  &__title {
    margin-bottom: 10px;
    height: 50px;

    @include onDesktop {
      margin-bottom: 20px;
    }
  }

  &__summary {
    margin-bottom: auto;
  }

  &__text {
    height: 25px;
  }

  &__link {
    width: 50%;
  }
}
