@import '../../styles/utils/mixins/screens.scss';
@import '../../styles/utils/variables.scss';

.articles {
  &__count {
    margin-bottom: 46px;
    border-bottom: 1px solid $c-border;

    font-weight: 600;
  }
}
