@import '../../styles/utils/extends/helpers.scss';
@import '../../styles/utils/extends/typography.scss';
@import '../../styles/utils/mixins/screens.scss';
@import '../../styles/utils/variables.scss';

.articles {
  &__count {
    margin-bottom: 46px;
    border-bottom: 1px solid $c-border;

    font-weight: 600;
  }

  &__message {
    @extend %body-typography;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  
    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }
  
    @include onDesktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 46px;
    }
  }
}

