@import '../../styles/utils/extends/helpers.scss';
@import '../../styles/utils/extends/typography.scss';
@import '../../styles/utils/mixins/screens.scss';
@import '../../styles/utils/variables.scss';

.article_paper {
  margin-top: 100px;
  margin-bottom: 25px;
  @extend %flex-column;

  width: 100%;
  min-height: calc($h-screen - $h-back-link-phone - 50px - 100px);
  padding: 10px 25px;
  @extend %container;

  @include onTablet {
    margin-top: 150px;
    margin-bottom: 35px;
    padding: 50px 75px;

    min-height: calc($h-screen - $h-back-link-phone - 80px - 150px);
  }

  &__title {
    margin-bottom: 20px;

    @extend %title-typography;
    text-align: center;

    @include onTablet {
      margin-bottom: 50px;
    }
  }

  &__summary {
    @extend %body-typography;
    text-align: justify;

    @include onDesktop {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__message {
    flex-grow: 1;
    @extend %flex-row-center;
  }
}
