@import '../mixins/screens.scss';

%container {
  max-width: 300px;

  @include onTablet {
    max-width: 600px;
  }

  @include onDesktop {
    max-width: 1120px;
  }
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
