@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins/screens.scss';
@import '../../styles/utils/extends/typography.scss';

.notFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  &__title {
    margin-bottom: 24px;

    @extend %h1-typography;

    @include onTablet {
      margin-bottom: 36px;
    }

    @include onDesktop {
      margin-bottom: 36px;
    }
  }

  &__button {
    padding: 8px 16px;

    background-color: $c-primary;

    @include onTablet {
      padding: 16px 32px;
    }

    &:hover {
      background-color: $c-secondary;
    }
  }
}
