@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins/screens.scss';
@import '../../styles/utils/extends/typography.scss';
@import '../../styles/utils/extends/helpers.scss';

.articleItem {
  @extend %flex-column;

  height: 460px;

  color: $c-primary;

  @include onDesktop {
    height: 530px;
  }

  &__content {
    flex-grow: 1;
    @extend %flex-column;

    padding: 24px;
  }

  &__image {
    height: 218px;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 12px;

    opacity: 0.6;

    @include onDesktop {
      margin-bottom: 24px;
    }

    &_icon {
      height: 16px;
      width: 16px;
    }

    &_text {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }

  &__preview {
    flex-grow: 1;
    @extend %flex-column;
  }

  &__title {
    margin-bottom: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @extend %title-typography;

    @include onDesktop {
      margin-bottom: 20px;
    }
  }

  &__summary {
    @extend %body-typography;

    &_wrapper {
      margin-bottom: auto;
    }
  }

  &__highlight {
    background-color: $c-highlight;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;

    @extend %body-typography;
    font-weight: 700;
    color: inherit;
    text-decoration: none;

    &_icon {
      width: 12px;
      height: 10px;
    }
  }
}
